body {
    font-family: 'Consolas', monospace; /* Cambiar fuente a Consolas */
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh; /* Asegura que el fondo cubra toda la altura */
    overflow: hidden; /* Evita scroll si el contenido es menor que la altura */
}

body::before {
    content: '';
    position: fixed; /* Cambiar a fixed para ocupar siempre la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/p5.jpg');
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1; /* Ajusta el nivel de opacidad (0.5 = 50% opaco) */
    z-index: -1; /* Coloca el fondo detrás del contenido */
}


/* Estilos globales para asegurar colores específicos por página */

/* Estilo por defecto (por si alguna página no tiene especificación) */
button {
    background-color: #1976d2; /* Azul por defecto */
}

/* Cambios para TeacherHome */
.teacher-home button {
    background-color: #388e3c; /* Verde para TeacherHome */
}

/* Cambios para AdminHome */
.admin-home button {
    background-color: #141846; /* Rojo para AdminHome */
}
