.auth-container {
    display: flex;
    flex-direction: column; /* Asegúrate de que el contenido se apile verticalmente */
    height: 100vh; /* Altura completa de la ventana */
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    position: relative; 
    overflow: hidden; /* Evita scroll si el contenido es menor que la altura */
}

.auth-image {
    position: fixed; /* Cambiar a fixed para cubrir toda la pantalla */
    top: 0; 
    left: 0; 
    width: 100%; /* Asegura que ocupe todo el ancho de la ventana */
    height: 100%; /* Asegura que ocupe toda la altura de la ventana */
    background-image: url('../assets/p5.jpg'); /* Asegúrate de que la imagen esté definida aquí */
    background-size: cover; /* Asegura que la imagen cubra toda el área */
    background-position: center; /* Centra la imagen */
    z-index: -1; /* Coloca la imagen detrás del contenido */
}

.auth-form {
    width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible */
    max-width: 500px; /* Mantén el ancho máximo */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad para que se vea la imagen detrás */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
    z-index: 1; /* Asegura que el formulario esté delante de la imagen */
    border-radius: 8px; /* Bordes redondeados para una mejor estética */
}
